
$color-primary-0: #0AA2E4;	// Main Primary color */
$color-primary-1: #5DBEE8;
$color-primary-2: #32B0E6;
$color-primary-3: #0390CD;
$color-primary-4: #03638D;

$rgba-primary-0: rgba( 10,162,228,1);	// Main Primary color */
$rgba-primary-1: rgba( 93,190,232,1);
$rgba-primary-2: rgba( 50,176,230,1);
$rgba-primary-3: rgba(  3,144,205,1);
$rgba-primary-4: rgba(  3, 99,141,1);

$color-light:       #FFFFFF;
$rgba-light-alpha:  rgba( 255, 255, 255, 0.7);

$space-0:   5px;
$space-1:   10px;
$space-2:   15px;
$space-3:   35px;
$space-4:   50px;
$space-5:   85px;
$space-6:  135px;
$space-7:  220px;
$space-8:  355px;
$space-9:  575px;

$size-top-logo: 72px;
$size-top-menu: 36px;

$size-font-table-title: 14px;
$size-font-table-column: 12px;

$border-radius-table: 3px;

$shadow-setting: rgba(0, 0, 0, 0.2) 0 0 3px 3px;

@font-face {
  font-family: CamptonBold;
  src: url("../fonts/Campton-BoldDEMO.otf") format("opentype");
}

@font-face {
  font-family: CamptonLight;
  src: url("../fonts/Campton-LightDEMO.otf") format("opentype");
}

@font-face {
  font-family: RictyDiminished;
  src: url("../fonts/RictyDiminished-Regular.ttf") format("truetype");
}
